<h2>New Vehicle</h2>
<form>

  <div class="form-group">
    <label for="make">Make</label>
    <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.make" name="make">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{m.id}}">{{ m.name }}</option>
    </select>
  </div>

  <div class="form-group">
      <label for="model">Model</label>
      <select id="model" class="form-control">
        <option value=""></option>
        <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
      </select>
    </div>

    <p>Is it registered?</p>
    <div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="registered" value="true">
        <label class="form-check-label" for="registered">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="notRegistered" value="false">
        <label class="form-check-label" for="notRegistered">No</label>
      </div>
    </div>

    <h2>Features</h2>
    <div *ngFor="let f of features" class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="feature{{ f.id }}">
      <label class="form-check-label" for="feature{{ f.id }}">
        {{ f.name }}
      </label>
    </div>
    
    <h2>Contact</h2>
    <div class="form-group row">
      <label for="contactName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="contactName" placeholder="Name">
      </div>
    </div>

    <div class="form-group row">
      <label for="contactPhone" class="col-sm-2 col-form-label">Phone</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="contactPhone" placeholder="Phone">
      </div>
    </div>

    <div class="form-group row">
      <label for="contactEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="contactEmail" placeholder="Email">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
